.card__item {
    position: relative;
    width: 100%;
}

.card {
    color: #000;
    background-color: #FFF;
    height: 576px;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    list-style: none;
}

.card__image {
    height: 272px;
    width: 100%;
    border-radius: 15px 15px  0 0;
}

.card__date {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #B6BCBF;

}
.card__info {
    margin: 20px 24px 24px;
}

.card__title {
    font-family: RobotoSlab, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;  
    margin: 12px 0 16px;
    color: #1A1B22;

}

.card__quote {
    margin: 0  0 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: RobotoSlab, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #B6BCBF;  
}

.card__bookmark {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.card__bookmark::before {
  content: url('../../images/bookmark.svg');
}

.card__bookmark:hover  {
    stroke: #DA4567;
  }


@media screen and (max-width: 1020px) {
    .card {
        height: 420px;

    }
    .card__image {
        height: 150px;
 
    }

    .card__date {
        font-size: 18px;
        line-height: 24px;
    }

    .card__info {
        margin: 16px;
    }
    
    .card__title {
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .card__quote {
        font-size: 16px;
        font-weight: 400;     
    }
    
    .card__link {
        font-size: 16px;
        line-height: 20px;  
    }
}
@media screen and (max-width: 400px) {
    .card__quote {

    }
}
